@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.nav-bar {
    text-align: center;
    display: flex;
    justify-content: center;
}

#Nav-hoofdgerecht {
    margin-left: 40px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    font-size: 36px;
    line-height: 36px;
    margin: 10px
}

.parent-body {
    padding-left: 514px;
    padding-right: 278px;
    text-align: left;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1500px) {
    #parent-body {
        padding-left: 410px;
        padding-right: 195px;
        text-align: left;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }
}

@media only screen and (min-width: 2300px) {
    #parent-body {
        padding-left: 730px;
        padding-right: 593px;
        text-align: left;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }
}

.Gehakt-title {
    border-bottom: solid black 1px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    padding-bottom: 13px;
    margin-bottom: 40px;
}

.eerste-paragraaf {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

#Ingrediënten-title, #Bereidingsweize-title {
    font-size: 32px;
    line-height: 32px;
}

#Ingrediënten-title {
    margin-bottom: 40px;
}

#Bereidingsweize-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

#ingrediënten-spullen, #bereidingsweize-paragraaf, #Tip-box {
    font-size: 20px;
    line-height: 26px;
}

#gehaktbrood-foto {
    width: 325px;
    object-fit: contain;
    margin-top: 40px;
    margin-bottom: 40px;
}

#Tip-box {
    display: inline-block;
    background-color: rgb(218, 243, 218);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
}

#Tip {
    font-weight: bold;
}