main {
    width: 1000px;
    margin: auto;
}

h1 {
    font-size: 23px;
}

.Nav-container {
    border: black 1px solid;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 15px;
}

.Nav-Resident-Evil-8, .Nav-Minecraft, .Nav-Subnautica, .Game-Picker {
    padding: 15px

}

li, div {
    margin-bottom: 20px
}

.Game-Picker {
   margin-left: 480px;
}

.Container-body-header {
    display: flex;
    font-family: sans-serif;
}

.Gameinfo-container {
    border: 1px black solid;
    margin-top: 10px;
    text-align: left;
    padding-left: 15px;
    height: 300px;
    display: inline-block;
    width: 70%;
}

.genre-1-header, .genre-2-header, .genre-3-header {
    border: 1px black solid;
    padding: 5px;
    margin: 8px;
}

.Sideinfo-container {
    border: black 1px solid;
    border-left: 0;
    display: inline-block;
    width: 30%;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 15px;
}

.Images-section {
    display: flex;
    border: 1px black solid;
    justify-content: space-evenly;
}

.image-1, .image-2, .image-3, .image-4 {
    width: 200px;
    margin: 15px;
}

.Systeemeisen-section {
    border: 1px black solid;
    padding-left: 15px;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.Footer {
    border: 1px black solid;
    padding-left: 15px;
    font-family: serif;
    padding-bottom: 15px;
}
